#logo{
	width:100%;
}

#admin{
	font-size: 8px;
}
#facebook_logo{
	border:0; 
	width:15%; 
	height:auto;
}

.navbar{
	min-height: 0px;
	margin-bottom:0px;
}

#header-info{
	text-align: right;
}

#announcements{
	background-color: #3E3E3E;
	color: white;
	width: 100%;
}

.featured-pets{
	text-decoration: none;
}

#amazon_logo{
	width: 60%;
	height:auto;
	display:inline-block;
}
#igive_logo{
	display:inline-block;
}
#bestbullysticks_logo{
	width:50%;
	height:auto;
	display:inline-block;
}

.footer{
	background-color: rgb(43, 39, 39);
	width:100%;
	height:10em;
	color: white;
}

#pet-wrapper{
	background-color: #F2F2F1;
	padding-top:1em;
}

#contact-pic{
	width:100%;
	height:auto;
	display: inline-block;
	border-radius: 2%
}
#paw-pic{
	width:3%;
	height:auto;
}
.contact_id{
	font-size: 1.2em
}
.contact_list{
	list-style: none;
	padding-left: 2em;
}
#contact_info{
	padding-bottom: 2em;
	background-color:#F2F2F1;
}
.link{
	color:#345347;
}
#foster-jumbotron {
	padding-top:3em;
	height:25em;
	background-image: url("../img/kittens.jpg");
	background-size: cover;
	background-position: center;
}
.center{
	padding-top:3em;
	text-align: center;
}
#foster-banner{
	color:rgb(229, 229, 229);
	text-align:center;
}

#foster-description{
	font-weight:bold
}

#round-kitten{
	width:90%; 
	margin-top:5em; 
	border-radius:50%;
}
#info-container{
	padding-bottom:2em;
	background-color:#A8A8A8;
}
.partnerpic{
	width:20em;
	height: 12em;
	border: gray solid 2px;
}
.resource-list{
	margin-top:0em;
	margin-bottom:.5em;
}
.foster-content{
	margin-bottom:2em;
}
.p-margin{
	margin-bottom:0em;
}

.dog_description{
	padding: 1em;
}
#dog-health{
	width:100%
}
#cat-health{
	width:100%;
}
.thumbnail{
	height:32em;
	overflow:hidden;
	text-overflow:ellipsis;
	
}
.thumnail_img{
	width:auto;
	height: 13em;
}
.margin-top{
	margin-top:2em;
}
#dog-health-button{
	height:25em;
	background-image: url("../img/dog_health.jpg");
	background-size: cover;
	border-radius: 2%;
	margin-bottom:2em;
}
#cat-health-button{
	height:25em;
	background-image: url("../img/cat_health.jpg");
	background-size: cover;
	border-radius: 2%;
	margin-bottom:2em;
}
.button-text{
	padding-top:1em;
	text-align:center;
	font-weight: bold;
	font-size:4em;
	color:rgb(240, 240, 240);
	text-decoration: none;
}
.plain:hover{
	text-decoration:none;
}
.half{
	width:95%;
}
.cat-foster-header{
	margin-top:1.5em;
	font-weight:bold;
}
#cat-button{
	text-align: center;
}
.picture-radius{
	border-radius: 2%;
	border:gray solid 2px;
}
.padding-bottom{
	padding-bottom: 2em;
}
#foster-cat-avail {
	padding-top:3em;
	height:25em;
	background-image: url("../img/cat-foster-avail.jpg");
	background-size: cover;
	background-position:center;
}
#cat-avail-text{
	color:white;
	font-size: 8em;
	font-weight: bold;
}
