<!DOCTYPE html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		{% load staticfiles %}
		<link rel = "stylesheet" href ="{% static 'spca_app/css/style.css' %}" >
		<title>SPCA of Northern Virginia: Cat Foster</title>
	</head>
	<body>
		{% include './navbar.html' %}
		{% block navbar %}{% endblock %}
		<div class="container">
			<h1><img src="{% static 'spca_app/img/paw.png' %}" id ="paw-pic" alt="...">   Cat Foster Responsibilities</h1>
			<div class="col-md-8 margin-top padding-bottom">
				<p>We work closely with foster parents to find the right “match” between the foster cat(s), your home environment (e.g., your own pets, kids and other family members, space), and your work schedule.  As a cat foster parent, your responsibilities would include:</p>
				<h4 class="cat-foster-header">Temporary Home</h4>
				<hr class="resource-list">
				<p>Providing a safe and loving temporary home.This means keeping the foster cat(s) indoors at all times, cat-proofing your home, and taking other reasonable precautions to provide a safe and healthy environment for your foster cat(s).</p>
				<h4 class="cat-foster-header">Supplies</h4>
				<hr class="resource-list">
				<p>Providing food and litter and other basic supplies, whenever possible. SPCA will let you know the appropriate type of food that meets your foster cat’s needs, taking into account what you are feeding your own cat (if you have one). SPCA often has cat supplies such as carriers, litter boxes, and scratching boards on hand. </p> 
				<h4 class="cat-foster-header">Quarantine</h4>
				<hr class="resource-list">
				<p>Keeping the “new” foster cat(s) separate from resident cats for 10 days as a precaution to protect your cat(s) from potentially contagious diseases. “New” refers to cats that SCPA has not yet quarantined. If your foster cat(s) has already been in SPCA’s care for longer than 10 days and appears healthy, you will not need to quarantine the foster cat in your home.  After quarantine, if the foster cat is healthy, foster parents should integrate the foster cat(s) with family pets for socialization purposes. SPCA will advise you on whether kittens should be kept separate from or integrated with resident pets depending on their age, health, socialization needs, and your home environment. </p>
				<h4 class="cat-foster-header">Vet Care</h4>
				<hr class="resource-list">
				<p>Monitoring the cat's health, seeking approval from SPCA regarding follow up vet care, and recording all medications and health issues. All authorized medical expenses are covered by SPCA. All foster cats are examined by a vet prior to being placed in foster homes. At a minimum, they are tested for feline AIDs/leukemia, given age appropriate shots, dewormed, and spayed/neutered (if age appropriate and healthy). It is common for foster cats to need follow up vet care. </p>
				<h4 class="cat-foster-header">Behaviour & Socialization</h4>
				<hr class="resource-list">
				<p>Monitoring the foster cat’s behavior and discussing any issues with SPCA.  We work very closely with foster families who are fostering shy or scared cats and kittens (especially feral kittens). </p>
				<h4 class="cat-foster-header">Adoption</h4>
				<hr class="resource-list">
				<p>Following SPCA’s adoption policies and actively facilitating the foster cat’s adoption (e.g., providing a write up and helping to get photos for the web site, responding to pre-screened adoption inquiries about the foster cat(s), and making the foster cat(s) available for prospective adopters to meet in your home (along with another SPCA volunteer, when appropriate).</p>
			</div>
			<div class="col-md-4 center">
				<div class="btn-group" >
  					<a href="#"><button class="btn btn-primary btn-lg" type="button"> Click for the Cat Foster Application
  					</button></a>
				</div>
				<img class="thumnail_img margin-top picture-radius" src="{% static 'spca_app/img/foster_kitten.jpg' %}">
			</div>
		</div>
		<div class="jumbotron" id="foster-cat-avail">
  			<div class="container">
    			<h1 id="cat-avail-text">Cats Needing Foster Homes</h1>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="row">
					<h1>Footer</h1>
				</div>
			</div>
		</div>
	</body>
</html>