<!DOCTYPE html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		{% load staticfiles %}
		<link rel = "stylesheet" href ="{% static 'spca_app/css/style.css' %}" >
		<title>SPCA of Northern Virginia: Health & Behavior</title>
	</head>
	<body>
		{% include './navbar.html' %}
		{% block navbar %}{% endblock %}
		<div class="container">
			<h1><img src="{% static 'spca_app/img/paw.png' %}" id ="paw-pic" alt="...">  Health and Behavior</h1>
			<div class="col-md-6">
				<div class="row">
					<h3>Useful Pet Resources:<hr class="resource-list"></h3>
					<div class="col-md-6">
						<ul class="resource-list">
							<li><a href="http://www.veterinarypartner.com/" class="link">Veterinary Partner</a></li>
							<li><a href="http://www.peteducation.com/index.cfm?c=2" class="link">PetEducation.com</a></li>
							<li><a href="http://www.petplace.com/" class="link">PetPlace</a></li>
							<li><a href="http://www.aspca.org/pet-care/animal-poison-control" class="link">ASPCA Animal Poison</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="resource-list">
							<li><a class="link" href="http://petbehaviorist.com/">Companion Animal Behavior</a>
								<p class="p-margin">(703) 327-7205</p>
								<a class="link"href="mailto:AB@Petbehaviorist">AB@Petbehaviorist</a>
							</li>
							<li><a class="link" href="http://cooperativepaws.com/"> Cooperative Paws </a>
								<p class="p-margin">(703) 489-6452</p>
								<a class="link" href="mailto:eronica@cooperativepaws.com">eronica@cooperativepaws.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<h3>Veterinary Behaviorists:<hr class="resource-list"></h3>
					<div class="col-md-6">
						<ul class="resource-list">
							<li>
							<p class="p-margin">Marsha Reich, DVM, DACVB</p>
							<p class="p-margin">Maryland-Virginia Veterinary Behavioral Consulting</p>
							<p class="p-margin">Board certified by the American College of Veterinary Behavior</p>
							<p class="p-margin">(301)384-3900</p>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="resource-list">
							<li>
							<p class="p-margin">Dr. E. Kathryn Meyer, VMD</p>
							<p class="p-margin"><a class="link" href="http://www.veterinarybehaviorclinic.com/">Veterinary Behavior Clinic</a></p>
							<p class="p-margin">Gaithersburg, MD</p>
							<p class="p-margin">(301)947-3333</p>
							<a class="link" href="mailto:vetbehaviorclinic@comcast.net">vetbehaviorclinic@comcast.net</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img id="" src="{% static 'spca_app/img/dog_health.jpg' %}">
				</div>
				<div class="col-md-6">
				</div>
			</div>
		</div>
	</body>
</html>